<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <connectionStrings>
    <!--<add name="MongoDB" connectionString="mongodb://127.0.0.1/SearchEngine" />-->
    <add name="MongoDB" connectionString="mongodb://127.0.0.1/Jsonsong" />
    <!--<add name="MongoDB" connectionString="mongodb://mongo.search.int:29000/SearchEngine" />-->

    <!--<add name="MongoDB_SearchLog" connectionString="mongodb://10.0.2.49:29000/SearchEngine_SearchLog" />
    <add name="MongoDB_SA" connectionString="mongodb://10.0.2.49:29000/SearchEngine_SA" />-->
  </connectionStrings>
  
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
